Playbooks/Block-EntraIDUser-Incident/definition.json
{
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
        "Microsoft_Sentinel_incident": {
            "type": "ApiConnectionWebhook",
            "inputs": {
                "body": {
                    "callback_url": "@{listCallbackUrl()}"
                },
                "host": {
                    "connection": {
                        "name": "@parameters('$connections')['microsoftsentinel']['connectionId']"
                    }
                },
                "path": "/incident-creation"
            }
        }
    },
    "actions": {
        "Entities_-_Get_Accounts": {
            "type": "ApiConnection",
            "inputs": {
                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                "host": {
                    "connection": {
                        "name": "@parameters('$connections')['microsoftsentinel']['connectionId']"
                    }
                },
                "method": "post",
                "path": "/entities/account"
            }
        },
        "For_each": {
            "foreach": "@body('Entities_-_Get_Accounts')?['Accounts']",
            "actions": {
                "Condition": {
                    "actions": {
                        "Condition_-_if_user_have_manager": {
                            "actions": {
                                "Add_comment_to_incident_-_with_manager_-_no_admin": {
                                    "runAfter": {
                                        "Get_user_-_details": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "incidentArmId": "@triggerBody()?['object']?['id']",
                                            "message": "<p>User @{items('For_each')?['Name']} (UPN - @{concat(items('For_each')?['Name'], '@', items('for_each')?['UPNSuffix'])}) was disabled in AAD via playbook Block-AADUser. Manager (@{body('Parse_JSON_-_get_user_manager')?['userPrincipalName']}) is notified.</p>"
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['microsoftsentinel']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/Incidents/Comment"
                                    }
                                },
                                "Get_user_-_details": {
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azuread']['connectionId']"
                                            }
                                        },
                                        "method": "get",
                                        "path": "/v1.0/users/@{encodeURIComponent(concat(items('For_each')?['Name'], '@', items('for_each')?['UPNSuffix']))}"
                                    }
                                },
                                "Send_an_email_-_to_manager_-_no_admin": {
                                    "runAfter": {
                                        "Add_comment_to_incident_-_with_manager_-_no_admin": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "Body": "<p>Security notification! This is automated email sent by Microsoft Sentinel Automation!<br>\n<br>\nYour direct report @{items('For_each')?['Name']} has been disabled in Azure AD due to the security incident. Can you please notify the user and work with him to reach&nbsp;our support.<br>\n<br>\nDirect report details:<br>\nFirst name: @{body('Get_user_-_details')?['displayName']}<br>\nSurname: @{body('Get_user_-_details')?['surname']}<br>\nJob title: @{body('Get_user_-_details')?['jobTitle']}<br>\nOffice location: @{body('Get_user_-_details')?['officeLocation']}<br>\nBusiness phone: @{body('Get_user_-_details')?['businessPhones']}<br>\nMobile phone: @{body('Get_user_-_details')?['mobilePhone']}<br>\nMail: @{body('Get_user_-_details')?['mail']}<br>\n<br>\nThank you!</p>",
                                            "Importance": "High",
                                            "Subject": "@{items('For_each')?['Name']}  has been disabled in Azure AD due to the security risk!",
                                            "To": "@body('Parse_JSON_-_get_user_manager')?['userPrincipalName']"
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['office365']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/v2/Mail"
                                    }
                                }
                            },
                            "runAfter": {
                                "Parse_JSON_-_get_user_manager": [
                                    "Succeeded"
                                ]
                            },
                            "else": {
                                "actions": {
                                    "Add_comment_to_incident_-_no_manager_-_no_admin": {
                                        "type": "ApiConnection",
                                        "inputs": {
                                            "body": {
                                                "incidentArmId": "@triggerBody()?['object']?['id']",
                                                "message": "<p>User @{items('For_each')?['Name']} (UPN - @{concat(items('For_each')?['Name'], '@', items('for_each')?['UPNSuffix'])}) was disabled in AAD via playbook Block-AADUser. Manager has not been notified, since it is not found for this user!</p>"
                                            },
                                            "host": {
                                                "connection": {
                                                    "name": "@parameters('$connections')['microsoftsentinel']['connectionId']"
                                                }
                                            },
                                            "method": "post",
                                            "path": "/Incidents/Comment"
                                        }
                                    }
                                }
                            },
                            "expression": {
                                "and": [
                                    {
                                        "not": {
                                            "equals": [
                                                "@body('Parse_JSON_-_get_user_manager')?['userPrincipalName']",
                                                "@null"
                                            ]
                                        }
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "HTTP_-_get_user_manager": {
                            "type": "Http",
                            "inputs": {
                                "authentication": {
                                    "audience": "https://graph.microsoft.com/",
                                    "type": "ManagedServiceIdentity"
                                },
                                "method": "GET",
                                "uri": "https://graph.microsoft.com/v1.0/users/@{concat(items('For_each')?['Name'], '@', items('for_each')?['UPNSuffix'])}/manager"
                            }
                        },
                        "Parse_JSON_-_get_user_manager": {
                            "runAfter": {
                                "HTTP_-_get_user_manager": [
                                    "Succeeded",
                                    "Failed"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('HTTP_-_get_user_manager')",
                                "schema": {
                                    "properties": {
                                        "userPrincipalName": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "runAfter": {
                        "Update_user_-_disable_user": [
                            "Succeeded",
                            "Failed"
                        ]
                    },
                    "else": {
                        "actions": {
                            "Add_comment_to_incident_-_error_details": {
                                "type": "ApiConnection",
                                "inputs": {
                                    "body": {
                                        "incidentArmId": "@triggerBody()?['object']?['id']",
                                        "message": "<p>Block-AADUser playbook could not disable user @{items('For_each')?['Name']}.<br>\nError message: @{body('Update_user_-_disable_user')['error']['message']}<br>\nNote: If user is admin, this playbook don't have privilages to block admin users!</p>"
                                    },
                                    "host": {
                                        "connection": {
                                            "name": "@parameters('$connections')['microsoftsentinel']['connectionId']"
                                        }
                                    },
                                    "method": "post",
                                    "path": "/Incidents/Comment"
                                }
                            }
                        }
                    },
                    "expression": {
                        "and": [
                            {
                                "equals": [
                                    "@body('Update_user_-_disable_user')",
                                    "@null"
                                ]
                            }
                        ]
                    },
                    "type": "If"
                },
                "Update_user_-_disable_user": {
                    "type": "ApiConnection",
                    "inputs": {
                        "body": {
                            "accountEnabled": false
                        },
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['azuread']['connectionId']"
                            }
                        },
                        "method": "patch",
                        "path": "/v1.0/users/@{encodeURIComponent(concat(items('For_each')?['Name'], '@', items('for_each')?['UPNSuffix']))}"
                    }
                }
            },
            "runAfter": {
                "Entities_-_Get_Accounts": [
                    "Succeeded"
                ]
            },
            "type": "Foreach"
        }
    },
    "parameters": {
        "$connections": {
            "type": "Object",
            "defaultValue": {}
        }
    }
}
